@font-face {
    font-family: 'clock';
    src: url(font/DS-DIGI.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.madrugada:root {
    --body-bg: #292a3e;
    --box-bg: #242439;
    --body-color: rgb(255, 255, 255);
}

.manha:root {
    --body-bg: #ff5b5b;
    --box-bg: #ff4848;
    --body-color: rgb(255, 255, 255);
}

.tarde:root {
    --body-bg: #583eff;
    --box-bg: #5720ff;
    --body-color: rgb(255, 255, 255);
}

.noite:root {
    --body-bg: #6272ff;
    --box-bg: #006eff;
    --body-color: rgb(255, 255, 255);
}



body,
html {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--body-bg);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    padding-top: 15px;
}

.box {
    background-color: var(--box-bg);
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 15px 15px 25px #0000003d;
}

i{
    font-size: 42px;
    margin-bottom: 20px ;
}

.relogio {
    font-family: 'clock', sans-serif;
    font-size: 95px;
}

.esta{
    font-weight: 700;
}

.info {
    font-size: 25px;
    background-color: var(--box-bg);
    padding: 15px 100px;
    border-radius: 20px;
}